<%= content_for :header_title do %>
    Contact us
<% end %>

<%= content_for :header_sub_title do %>
    Find us here
<% end %>

<center>
<h1>UBICANOS</h1>
<p>Find me in app/views/pages/contact_us.html.erb</p>
</center>
<div id="maps">
    <%= render 'map' %>
</div>
