// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.titulo {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}

.nav-header {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

.footer {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}