<%# add navigation links to this file %>
<li><%= link_to "HOME", root_path %></li>
<li><%= link_to "ABOUT ME", pages_about_me_path %></li>
<li><%= link_to "SERVICES", pages_services_path %></li>
<li><%= link_to "CONTACT US", pages_contact_us_path %></li>
