<div class="well sidebar-nav navbar-inverse">
    <h3 class="titulo">MUNDO APPS</h3>
        <ul class="nav nav-list navbar-inverse">
            <li class="nav-header">CONTENIDO</li>
            <%= render 'layouts/navigation_links' %>
        </ul>
</div><!--/.well -->
